<header
	class="header-area">

	<!-- Top Header Area -->
	<div class="top-header-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div
						class="top-header-content d-flex align-items-center justify-content-between">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src={{ asset('img/core-img/logo.png') }} alt=""></a>
						</div>

						<!-- Login Search Area -->
						<div
							class="login-search-area d-flex align-items-center">
							<!-- Login -->
							<div class="login d-flex">
								<a href="/login">Login</a>
								<a href="/register">Register</a>
							</div>
							<!-- Search Form -->
							<div class="search-form">
								<form action="#" method="post">
									<input type="search" name="search" class="form-control" placeholder="Search">
									<button type="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Navbar Area -->
	<div class="newspaper-main-menu" id="stickyMenu">
		<div class="classy-nav-container breakpoint-off">
			<div
				class="container">
				<!-- Menu -->
				{{ include('master/nav.html.twig') }}
			</div>
		</div>
	</div>
</header>
