<!-- Menu -->
<nav
	class="classy-navbar justify-content-between" id="newspaperNav">

	<!-- Logo -->
	<div class="logo">
		<a href="index.html"><img src={{asset('img/core-img/logo.png')}} alt=""></a>
	</div>

	<!-- Navbar Toggler -->
	<div class="classy-navbar-toggler">
		<span class="navbarToggler">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</div>

	<!-- Menu -->
	<div
		class="classy-menu">

		<!-- close btn -->
		<div class="classycloseIcon">
			<div class="cross-wrap">
				<span class="top"></span>
				<span class="bottom"></span>
			</div>
		</div>

		<!-- Nav Start -->
		<div class="classynav">
			<ul>
				<li>
					<a href="#">DropDown</a>
					<ul class="dropdown">
						<li>
							<a href="/">Category</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- Nav End -->
	</div>
</nav>
